/* src/styling/block/Loader.css */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7d4d4;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  z-index: 1000;
}
.text {
  text-align: center;
  color: #000000;
  background-color: transparent;
}

.greeting {
  font-size: 2.5rem;
  margin: 0;
  animation: fade 0.5s ease-in-out;
  color: #000000;
  background-color: transparent;
}

.static-text {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: #000000;
  background-color: transparent;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
