.home-page {
  padding: 10%;
  margin: 0%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Loader styling */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c7d4d4;
  color: white;
  font-size: 2rem;
  z-index: 1000;
}
.cv-butons{
  margin: 2% 0% 0% 0%;
}
.preview-cv-button, .download-cv-button{
  background-color: #e1f1f1;
  border: 1px solid black;
  padding: 1%;
  margin: 1% 1% 1% 1%;
}