.navbar {
  display: flex;
  justify-content:space-between;
  z-index: 10;
  padding: 1% 2% 1% 2%;
  background-color: #e1f1f1;
}
.left-navbar {
  background-color: rgb(165, 165, 184);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: fixed;
  padding: 2%;
}
.navbar-center {
  display: flex;
  gap: 20px;
}
.navbar-right {
  display: flex;
  gap: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
