/* This file is for Common Page Layout Styling */

/************************************Main Body Styling************************************/

* {
  font-family: "Times New Roman", Times, serif;
  /* font-family: Arial, sans-serif; */
  box-sizing: border-box;
  /* Include padding and border in element's total width and height */
  margin: 0%;
  padding: 0;
  line-height: 1.5;
  /* to set the line gap overall*/
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  /* cursor: url("../public/images/cursor.png"), auto; */
  background-color: #ffffff;
}

::selection {
  background: #ece1e2;
  /* Custom background color for selected text */
  color: #000000;
  /* Custom text color for selected text */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #d4c7ca;
  outline: 1px solid rgb(0, 0, 0);
}

#cursor {
  z-index: 1;
  height: 50px;
  width: 50px;
  background-color: #f6e6e671;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.main-section {
  padding: 5% 15% 7% 15%;
  text-align: justify;
}
